<div class="container">

  <div id="comment-modal" class="modal" style="display: none;">
    <div class="modal-content">
      <button id="close-modal-button" class="close">&times;</button>
      <strong><p id="modal-comment-title"></p></strong>
      <p id="modal-comment-content"></p>
    </div>
  </div>

  <%= render partial: "alert" %>
  <div style="margin-bottom:20px;">
    <div class="article-show">
      <div class="article-title">
        <h2><%= @article.title %></h2>
      </div>
      <div class="article-author">
        <%= @article.created_at.strftime("%d/%m/%Y %H:%M") %> - 
        <i>Por <%= @article.user.fullname %></i> - <i><%= @article.user.email %></i>
        <% if @article.date_time_changed? %>
          <br />
          Editado em: <%= @article.updated_at.strftime("%d/%m/%Y %H:%M") %>
        <% end %>
      </div>
      <div class="article-content">
        <%= @article.content %>
      </div>
    </div>
    <br />
    <div>
      <% if current_user.id == @article.user.id %>
        <%= link_to "Editar", edit_article_path(@article), class: "lnk" %>
        <br />
        <br />
      <% end %>
    </div>
    <%= render partial: "like", locals: { article: @article } %>
    <br />
    <%= link_to "Novo comentário", new_comment_path(article_id: @article.id), data: { turbo_frame: "comment_frame" }, class: "lnk" %>
    <%= turbo_frame_tag "comment_frame" %>
    <br />
    <br />
    <%= turbo_frame_tag "view_comments" do %>
      <%= render "view_comments" %>
    <% end %>
    <%= turbo_frame_tag "frame-comment" %>
    
    <%= back_link %>
  </div>
</div>


<script>
$(document).ready(function() {
  $('.comment-link').click(function(e) {
    e.preventDefault();
    $('#modal-comment-title').text($(this).data('title'));
    $('#modal-comment-content').text($(this).data('comment'));
    $('#comment-modal').show();
  });
  $('#close-modal-button').click(function() {
    $('#comment-modal').hide();
  });
});
</script>