<div class="container">
  <%= render partial: "alert" %>
  <div style="margin-bottom:20px;">
    <div class="article-show">
      <div class="article-title">
        <h2><%= @article.title %></h2>
      </div>
      <div class="article-author">
        <%= @article.created_at.strftime("%d/%m/%Y %H:%M") %> - 
        <i>Por <%= @article.user.fullname %></i> - <i><%= @article.user.email %></i>
        <% if @article.date_time_changed? %>
          <br />
          Editado em: <%= @article.updated_at.strftime("%d/%m/%Y %H:%M") %>
        <% end %>
      </div>
      <div class="article-content">
        <%= @article.content %>
      </div>
    </div>
    <br />
    <div>
      <% if current_user.id == @article.user.id %>
        <%= link_to "Editar", edit_article_path(@article) %>
      <% end %>
    </div>
    <br />
    <%= link_to "Novo comentário", new_comment_path(article_id: @article.id), class: "lnk" %>
    <br />
    <br />
    <%= render_comments(@comments) %>
    <%= link_to "Voltar", :back, class: "lnk" %>
  </div>
</div>