<div class="container">
  <%= render partial: "alert" %>
  <div>
    <div class="content">
      <div class="article-title">
        <h2><%= @article.title %></h2>
      </div>
      <div class="article-author">
        <%= @article.created_at.strftime("%d/%m/%Y") %> - 
        Por <i><%= @article.user.fullname %></i> - <i><%= @article.user.email %></i>
      </div>
      <div class="article-content">
        <%= @article.content %>
      </div>
    </div>
    <br />
    <%= link_to "Voltar", :back, class: "lnk" %>
  </div>
</div>