<%= render partial: "alert" %>
<div class="central">
  <div class="container padded bordered shadowed">
    <div>
      <h3><%= @user.username %></h3>
      <br />
      <%= @user.fullname %>
      <br />
      <%= @user.email %>
      <br />
      
    </div>
  </div>
</div>
<div class="central">
  <div>
  <%= link_to "Editar", edit_user_path(@user) %>
      <br />
      <%= back_link %>
  </div>
</div>