<div class="container">
  <div class="central" style="margin:20px;">
    <div class="padded bordered shadowed white-back">
      <%= render partial: "alert" %>
      <%= form_for(Setting.new, url: admin_settings_path) do |f| %>
        <% if !@errors.nil? %>
          <% if @errors.any? %>
            <div class="alert alert-block alert-danger">
              <ul>
                <% @errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        <% end %>
        <div style="text-align:center;">
          <h3>Configurações do sistema</h3>
        </div>
        <div class="settings">
          <%= f.label "Artigos por página na visualização padrão" %>
          <%= f.number_field :per_page, value: Setting.per_page, class: "form-control num-field" %>
          <%= f.label "Limite de comentários" %>
          <%= f.number_field :comments_limit, value: Setting.comments_limit, class: "form-control num-field" %>
          <%= f.label "Quantidade de palavras do artigo na visualização de grupo" %>
          <%= f.number_field :truncate_limit, value: Setting.truncate_limit, class: "form-control num-field" %>
          <%= f.label "Máximo nível de comentários" %>
          <%= f.number_field :comment_depth_limit, value: Setting.comment_depth_limit, class: "form-control num-field" %>
          <%= f.label " " %>
          <div class="actions">
            <%= f.submit 'Enviar', class: "btn" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>