<!DOCTYPE html>
<html>
  <head>
    <title>Articles</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%
=begin%>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
<%
=end%>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/43908e947d.js" crossorigin="anonymous"></script>
    <%= yield :page_script %>
  </head>

  <body>
    <%= render partial: "navbar" %>
    <%= yield %>




 <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button> 
<script>


$(document).ready(function() {
  $('#notice').delay(2000).fadeOut(2000); // 5 seconds x 1000 milisec = 5000 milisec
});



  function myFunction() {
    var x = document.getElementById("navTop");
    var h = document.getElementById("hideNav");
    var h2 = document.getElementById("hideNav2");
    if (x.className === "navigation") {
      x.className += " responsive";
      h.className +=" responsive";
      h2.className +=" responsive";
    } else {
      x.className = "navigation";
      h.className = "hide-nav";
      h2.className +="hide-nav2";
    }
  } 

  // GO TO TOP BUTTON
$(document).ready(function() {
  // Get the button:
let mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document

});
function topFunction() {
  document.body.scrollTop = 0; // For Safari
  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
} 
</script>

  </body>
</html>
