<!DOCTYPE html>
<html>
  <head>
    <title>Articles</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%
=begin%>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
<%
=end%>
    <script src="https://kit.fontawesome.com/43908e947d.js" crossorigin="anonymous"></script>
    <%= yield :page_script %>
  </head>

  <body>
    <%= render partial: "navbar" %>
    <%= yield %>

<script>

  setTimeout(function() {
    var notice = document.getElementById('notice');
    if(notice){
      notice.style.display = 'none';
    }
  }, 6000);

  function myFunction() {
    var x = document.getElementById("navTop");
    var h = document.getElementById("hideNav");
    if (x.className === "navigation") {
      x.className += " responsive";
      h.className +=" responsive";
    } else {
      x.className = "navigation";
      h.className = "hide-nav";
    }
  } 

  
</script>

  </body>
</html>
